<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/sales-script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
</head>

<body>


    

<div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Jawas Restaurant</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-ligh p-3" href="dashboard">Home</a>
                <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="">Orders</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="menu">Menu</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="settings">Settings</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn" id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>

                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">

                <audio id="xyz" src="/assets/audio/tune.mp3" preload="auto"></audio>

                <div class="col-xl-10  col-lg-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title" style="margin:0">Orders</h5>
                            <form action="#" class="row  mt-2 mb-2">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input_from">From</label>
                  <input type="date" class="form-control" id="input_from" placeholder="Start Date">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input_to">To</label>
                  <input type="date" class="form-control" id="input_to" placeholder="End Date">
                </div>
            </div>
          </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive text-nowrap">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr class="text-muted">
                                            <th>Order ID</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                            <th>Payment</th>
                                            <th>Customer</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order #26589</a></td>
                                            <td><span class="badge bg-success">Paid</span>
                                                <td>&#8377;45.00</td>
                                                <td>Herman Beck</td>
                                            <td class="text-muted">Oct 16, 2017</td>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order #26589</a></td>
                                            <td><span class="badge bg-danger">Food ready</span>
                                                <td>&#8377;45.00</td>
                                                <td>Herman Beck</td>
                                            <td class="text-muted">Oct 16, 2017</td>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order #26589</a></td>
                                            <td><span class="badge bg-success">Paid</span>
                                                <td>&#8377;45.00</td>
                                                <td>Herman Beck</td>
                                            <td class="text-muted">Oct 16, 2017</td>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order #26589</a></td>
                                            <td><span class="badge bg-secondary">Cancelled</span>
                                                <td>&#8377;45.00</td>
                                                <td>Herman Beck</td>
                                            <td class="text-muted">Oct 16, 2017</td>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order #26589</a></td>
                                            <td><span class="badge bg-success">Paid</span>
                                                <td>&#8377;45.00</td>
                                                <td>Herman Beck</td>
                                            <td class="text-muted">Oct 16, 2017</td>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order #26589</a></td>
                                            <td><span class="badge bg-success">Paid</span>
                                                <td>&#8377;45.00</td>
                                                <td>Herman Beck</td>
                                            <td class="text-muted">Oct 16, 2017</td>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order #26589</a></td>
                                            <td><span class="badge bg-success">Paid</span>
                                                <td>&#8377;45.00</td>
                                                <td>Herman Beck</td>
                                            <td class="text-muted">Oct 16, 2017</td>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order #26589</a></td>
                                            <td><span class="badge bg-success">Paid</span>
                                                <td>&#8377;45.00</td>
                                                <td>Herman Beck</td>
                                            <td class="text-muted">Oct 16, 2017</td>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order #26589</a></td>
                                            <td><span class="badge bg-success">Paid</span>
                                                <td>&#8377;45.00</td>
                                                <td>Herman Beck</td>
                                            <td class="text-muted">Oct 16, 2017</td>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <input type="button" value="start" onclick="ringSound()">
                                            </td>
                                            <td>
                                                <input type="button" value="stop" onclick="stopSound()">
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>




    </body>

    <script>
        var aud = document.getElementById('xyz')
        
function ringSound() {
    aud.loop = true
    aud.play()
        }

function stopSound() {
    aud.loop = false
        }

    </script>

</html>