<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/sales-script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
</head>

<body>


    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Restaurant Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/admin/products">All Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Users</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>


<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Jawas Restaurant</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="dashboard">Home</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="orders">Orders</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="menu">Menu</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="">Settings</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn" id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>

            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <div class="col-12 col-xl-8 mt-3">


                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-6 p-2">
                            <div class="col-12 card p-2">

                                <h5>Delivery</h5>
                                <div class="input-group mb-3">
                                    <button class="btn btn-danger dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">Busy</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Busy</a></li>
                                        <li><a class="dropdown-item" href="#">Temporarily Closed</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 p-2">
                            <div class="col-12 card p-2">
                                <h5>Pickup</h5>
                                <div class="input-group mb-3">
                                    <button class="btn btn-success dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">Available</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Busy</a></li>
                                        <li><a class="dropdown-item" href="#">Temporarily Closed</a></li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


<div class="col-12 col-xl-8 mt-4 card">
    <div class="card-header">
        <h5 class="card-title">Delivery Settings</h5>
    </div>
    <div class="card-body">

    </div>
</div>

<div class="col-12 col-xl-8 mt-4 card">
    <div class="card-header">
        <h5 class="card-title">Pickup Settings</h5>
    </div>
    <div class="card-body">
        
    </div>
</div>

<div class="col-12 col-xl-8 mt-4 card">
    <div class="card-header">
        <h5 class="card-title">Restaurant Settings</h5>
    </div>
    <div class="card-body">
        
    </div>
</div>





        </div>
    </div>
</div>