<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link href="css/styles.css" rel="stylesheet" /> -->
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
  
    
    
</head>

<style>

  html
  {
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
  }

  body
  {
    color: #4a4a4a;
  }


</style>

<body>


  <div class="container mt-4">
    <div class="col mb-2">

      <h3 class="text-center">Choose Web Theme</h3>

      <div class="container">
        <div class="row gy-2 row-cols-md-3 row-cols-2 row-cols-lg-5">

          <div class="col p-2">
            <a href="/assets/img/logo.jpg" target="_blank">
            <img src="/assets/img/logo.jpg" width="100%">
            <h5 style="text-align: center;">Basic</h5>
            </a>
          </div>

           <div class="col p-2">
            <img src="/assets/img/logo.jpg" width="100%">
            <h4 style="text-align: center;">Premium</h4>
          </div>

           <div class="col p-2">
            <img src="/assets/img/logo.jpg" width="100%">
            <h4 style="text-align: center;">Basic Dark</h4>
          </div>

           <div class="col p-2">
            <img src="/assets/img/logo.jpg" width="100%">
            <h4 style="text-align: center;">Premium Dark</h4>
          </div>

           <div class="col p-2">
            <img src="/assets/img/logo.jpg" width="100%">
            <h4 style="text-align: center;">Basic</h4>
          </div>

           <div class="col p-2">
            <img src="/assets/img/logo.jpg" width="100%">
            <h4 style="text-align: center;">Basic</h4>
          </div>

        </div>
      </div>


<form>
        
        
          <input type="hidden" class="form-control" id="id" value="{{ww}}" disabled/>
        

        
        <button type="button" onclick="submitStoreData()" class="btn btn-primary mt-4 ">Next</button>
      </form>
    </div>

  </div>



  
    <script src="/javascripts/bootstrap.bundle.min.js"></script>

    

  
</body>

</html>



